<%# TODO: Use application path instead of absolute path for action %>
<form method="POST" action="/firmware" charset="utf-8" enctype="multipart/form-data">
	<div class="box darkbox invbox inlinebox"><input type="file" name="firmware_file"></input></div>
	<div class="inlinebox"><input type="submit" name="submit" value="Upload Firmware"></input></div>
</form>
