<%= box erb(:_design), 'Logic Design', 'threebox' %>
<%= box erb(:_devstatus), 'Device Status', 'threebox' %>
<%= box erb(:_netdevs), 'Other Devices', 'threebox' %>
<%= box erb(:_exports), 'Exported Parameters', 'fullbox' %>
