<%= box erb(:_hostname), 'Change device hostname', 'twobox' %>
<%= box erb(:_firmware), ['Update firmware', '<a href="http://www.nitrogenlogic.com/updates">Check for updates</a>'], 'twobox' %>
<%= box erb(:_shutdown), 'Shut down device', 'clear twobox' %>
