<section class="box darkbox invbox fullbox">
<header><h1><%= @title %></h1></header>
<p>The device will now shut down.</p>
<p>The device may be unplugged when its blue LED stops flashing.  If the device
is not unplugged within a short time, it will automatically reboot.</p>
</section>
